reservation.swagger.test/Schemas/tetsResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1509749186608" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1509749186608">
  <complexType name="ErrorMessage">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="Code" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Description" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="Key" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="TypeCode" type="string"/>
    </sequence>
  </complexType>
</schema>
